[submodule "Joint-Physical-Digital-Facial-Attack-Detection"]
	path = Joint-Physical-Digital-Facial-Attack-Detection
	url = git@github.com:tuongtranngoc/Joint-Physical-Digital-Facial-Attack-Detection.git
